.FamPill {
  position: absolute;
  background: #fff;
  border: 2px solid #aaa;
  border-radius: 8px;
  width: 164px;
  padding: 6px 8px;
  text-align: left;
  /* text-align: center; */
  /* margin-top: -20px; */
  margin-left: -72px;
  transition: border-color 0.2s;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border: 3px solid #ddd;
  /* opacity: 0.5; */
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.12); */
}

.FamPill:hover {
  border-color: #666;
}

.FamPill.selected {
  border-color: #2B9CED;
  /* border-width: 3px; */
  /* padding: 1px 3px; */
  /* box-shadow: 0 0 4px #2B9CED; */
  /* border-color: #2B9CED; */
}

/* .FamPill-avatar {
  width: 24px;
  height: 24px;
  border: 3px solid #ddd;
  border-radius: 20px;
  float: left;
  margin-right: 8px;
} */

.FamPill h3 {
  font-size: 14px;
  margin: 0;
  letter-spacing: -0.01em;
  /* font-stretch: ultra-condensed; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FamPill p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
