.Button {
  color: #333;
  font-weight: 600;
  font-size: 14px;
  /* border: 2px solid #aaa; */
  /* border-radius: 16px; */
  /* background: #fff; */
  padding: 6px 12px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  user-select: none;

  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  /* border-bottom: 2px solid #d1d1d1; */
}

.Button + .Button {
  margin-left: 8px;
}

.Button:hover {
  /* border-color: #bbb; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.16);
}

.Button:active {
  border-color: #aaa;
}

.Button.selected {
  color: #fff;
  background: #333;
  border-color: #333;
}
