.Tabs {
  /* position: fixed; */
  /* left: 16px; */
  /* top: 16px; */
  display: flex;
  z-index: 99;
}

.Tabs.bottom {
  right: 16px;
  left: auto;
  top: auto;
  bottom: 16px;
}

.Tabs.right {
  right: 16px;
  left: auto;
}
